doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
     
    //- net core daki @renderBody() react da outlet, angular router-outlet
